:host {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: flex-start;
  padding: 50px 70px;

  ::ng-deep {
    p {
      color: var(--Gray-60, #475569);
      /* Paragraph/lg */
      font-size: 18px;
      font-style: normal;
      font-weight: 400;
      line-height: 160%; /* 28.8px */
    }

    ul {
      margin: 0;
      padding-left: 24px;
    }

    li {
      font-size: 16px;
      color: #6b7280;
      margin-bottom: 8px;
      line-height: 1.6;
    }
  }
}

.documentation {
  width: 100%;
  max-width: 900px;
  margin-right: 55px;
}

.documentation__header {
  margin-bottom: 35px;
}

.documentation__heading {
  /* font-size: 40px;
  font-weight: 600; */
  color: var(--Gray-80);
  margin: 0 0 25px 0;
  /* line-height: 1.1; */

  font-size: 36px;
  font-style: normal;
  font-weight: 600;
  line-height: 44px; /* 122.222% */
  letter-spacing: -0.504px;
}

.documentation__description {
  color: var(--Gray-60, #475569);

  /* Paragraph/lg */

  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%; /* 28.8px */
}

.documentation__layout {
  display: grid;
  grid-template-columns: 1fr 240px;
  gap: 60px;
  align-items: start;
}

.documentation__content {
  min-width: 0;
  max-width: 800px;
}

.documentation__sidebar {
  position: relative;
}
