:host {
  display: flex;
  width: 100%;
}

.navigation-item__subtitle {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px 20px 12px 35px;
  background: none;
  border: none;
  font-size: 15px;
  font-weight: 500;
  color: #6b7280;
  transition: all 0.2s;
  text-align: left;
}

.navigation-item__sublist {
  width: 100%;
}

a.navigation-item__leaf {
  width: 100%;
  padding: 12px 20px 12px 40px;
  color: #6b7280;
  font-size: 15px;
}

a.navigation-item__leaf.navigation-item--depth-2 {
  padding-left: 55px;
}

a.navigation-item__leaf:hover {
  background: #f9fafb;
  color: #1f2937;
}

a.navigation-item__leaf-link {
  color: #6b7280;
}

a.navigation-item__leaf.navigation-item--is-active {
  color: var(--primary-dark);
  font-weight: 500;
  background-color: #fafafc;
}

.navigation-item__subtitle-text {
  flex: 1;
}

.navigation-item__chevron-icon {
  color: #6b7280;
  transition: transform 0.2s;
  flex-shrink: 0;
}

.navigation-item__chevron-icon--expanded {
  transform: rotate(0deg);
}

.navigation-item__chevron-icon:not(.navigation-item__chevron-icon--expanded) {
  transform: rotate(-90deg);
}

.navigation-item__subsection {
  width: 100%;
}
