:host {
  display: block;
  overflow-x: auto;
}

.simple-table {
  width: 100%;
  border-collapse: collapse;
  margin: 1rem 0;
  background-color: var(--bg, #ffffff);
}

.simple-table th {
  font-weight: 600;
  background-color: none;
  color: var(--Gray-80);
  padding: 0.75rem 1rem;
  text-align: left;
  border-bottom: 1px solid var(--border);
}

.simple-table tr {
  padding: 0.75rem 0;
  border-bottom: 1px solid var(--border);
}

.simple-table td {
  padding: 0.75rem 1rem;
}
