:host {
  margin-bottom: 25px;
  display: flex;
  flex-direction: column;

  ::ng-deep {
    ul {
      margin: 0;
      padding-left: 24px;
    }

    li {
      font-size: 16px;
      color: #6b7280;
      margin-bottom: 8px;
      line-height: 1.6;
    }
  }
}

h2.documentation-section__heading {
  color: var(--Gray-80, #1e293b);
  font-family: 'Plus Jakarta Sans';
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 28px; /* 140% */
  letter-spacing: -0.2px;
  margin: 8px 0 15px;
}
